body{
	text-align: center;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eaeaea url('bg.png');
    color: #4d4d4d;
    width: 550px;
    margin: 0 auto;
    perspective: 350px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#info {
    margin: 65px auto 0;
    color: #a6a6a6;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    text-align: center;
}

.typewriter {
  position:relative;
}

.keyboard-container {
   position: absolute;
   height: 200px;
   width: 365px;
   top: 54px;
   left: 91px;
   transform: rotateX(48deg);
}

.keyboard-container p {
    margin-top: 15px;
    margin-right: 15px;
}

.keyboard-key {
    height: 28px;
    width: 18px;
    line-height: 25px;
    margin-right: 7px;
    background: #EDEAEA;
    display: inline-block;
    border-radius: 3px;
    /* box-shadow: -2px 2px -9px white; */
    transition: translate .3s, background-color 0.1s;
    cursor:pointer;
}

.keyboard-key-pressed {
  background-color: #ADADAD;
  /*transform: translate(5px, 5px);*/
}

.keyboard-key-shift {
    width: 50px;
}

.typewriter-keys-spacebar {
    position: absolute;
    bottom: 28px;
    left: 150px;
}

body {
    text-align: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eaeaea url('bg.png');
    color: #4d4d4d;
    width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}